<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"
  [ <!ENTITY mapping-tables-core SYSTEM "classpath://com/doxacore/mapping-tables-core.cfg.xml"> 
   <!ENTITY hibernate-core SYSTEM "classpath://com/doxacore/hibernate-core.cfg.xml">
   <!ENTITY mapping-tables-facturacion SYSTEM "classpath://com/facturacion/mapping-tables-facturacion.cfg.xml">]>

<hibernate-configuration>
    <session-factory>
    
    	<property name="dialect">com.doxacore.dialect.PostgresSqlCustomDialect</property>
 
      &hibernate-core;
  
      &mapping-tables-core;
      
      &mapping-tables-facturacion;
        
    </session-factory>
</hibernate-configuration>